IF OBJECT_ID('dbo.spza_ReservasGDSJOB_FormasPagos', 'P') IS NOT NULL
    DROP PROCEDURE dbo.spza_ReservasGDSJOB_FormasPagos;
GO
CREATE PROCEDURE [dbo].[spza_ReservasGDSJOB_FormasPagos] 

	@id_reservas 	VARCHAR(8000)

 
AS
BEGIN
			SET NOCOUNT ON;
			DECLARE @Tabla TABLE(id_Reserva INT,GDS VARCHAR(MAX),Iden_GDS INT)
			INSERT INTO @Tabla(id_Reserva,GDS,Iden_GDS) 
			SELECT r.id AS id_Reserva, r.reserva AS  GDS , r.iden_gds
			FROM dbo.ReservasGDS r
			INNER JOIN dbo.fnSplitMejorado(@id_reservas,',',0,1) AS s ON CONVERT(INT,s.Codigo) = r.id

			SELECT 
				r.id, --0
				r.id_reserva, --1
				ISNULL(r.id_reservaGDS_detalles,0) AS id_reservaGDS_detalles, --2
				ISNULL(r.id_reservaGDS_servicios,0) AS id_reservaGDS_servicios, --3
				r.in_orden, --4
				fp.id AS id_formaspago, --5
				r.cd_codigo, --6
				r.ds_nombre, --7
				ISNULL(tc.id,0) AS id_tarjetascredito, --8
				ISNULL(r.cd_tipotarjeta,'') AS cd_tipotarjeta, --9
				ISNULL(r.ds_numerotarjeta,'') AS ds_numerotarjeta, --10
				ISNULL(r.ds_vouchertarjeta,'') AS ds_vouchertarjeta, --11
				ISNULL(r.ds_expiraciontarjeta,'') AS ds_expiraciontarjeta, --12
				ISNULL(r.ds_autorizaciontarjeta,'') AS ds_autorizaciontarjeta, --13
				ISNULL(r.in_coutas,0) AS in_coutas, --14
				ISNULL(r.cd_banco,'') AS cd_banco, --15
				ISNULL(r.ds_cheque,'') AS ds_cheque, --16
				ISNULL(r.ds_plaza,'') AS ds_plaza, --17
				ISNULL(r.ds_referencia,'') AS ds_referencia, --18
				ISNULL(r.ds_Poliza,'') AS ds_Poliza, --19
				ISNULL(r.ds_PolizaAnexo,'') AS ds_PolizaAnexo, --20
				r.am_valor --21
			FROM dbo.ReservaGDS_FormasPagos r
			INNER JOIN @Tabla t ON t.id_Reserva = r.id_reserva
			INNER JOIN dbo.FormasPago fp ON fp.cd_codigo = r.cd_codigo
			LEFT JOIN dbo.TarjetasCredito tc ON tc.cd_codigo = r.cd_tipotarjeta
			ORDER BY r.id_reservaGDS_detalles,r.id_reservaGDS_servicios,r.in_orden
			
END