IF OBJECT_ID('dbo.spza_GestionJob_CrearJob', 'P') IS NOT NULL
    DROP PROCEDURE dbo.spza_GestionJob_CrearJob;
GO

CREATE PROCEDURE [dbo].[spza_GestionJob_CrearJob] 
	-- Parametros del procedimiento
	@id_usuario 	INT , -- Id de Usuario
	@id				INT  

 
AS
BEGIN
	-- SET NOCOUNT ON: Previene que conjuntos de resultados extras interfieran con 
	-- expresiones SELECT
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

    -- Declaracion e inicializacion de variables
  	DECLARE @bl_permit			 BIT 	, -- Permiso de ejecucion del proceso
  			@bl_as 	   			 BIT	, -- Auditar exito
	 		@bl_af 			     BIT	, -- Auditar fallido	 		
			@procmsg	VARCHAR(8000)	, -- Mensaje devuelto por procedimientos llamados desde este procedimiento
			@procret 	BIT 			, -- Valor de retorno de los procedimientos llamados desde este procedimiento
			@idproce	int		    	, -- Codigo de proceso
	 		@retry 		BIT			    , -- 1=Reintentar ; 0=Abortar  
	 		@retrycont	INT			    , -- Contador de reintentos
	 		@maxretries INT			    , -- Maximo numero de reintentos
	 		@timeout	NVARCHAR(4000)  , -- Tiempo de espera maximo por bloqueo de registros
	 		@stmt 		NVARCHAR(4000)  , -- Cadena de instrucciones T-SQL
			@msg	    VARCHAR(8000)   , -- Mensaje retornado por el sistema
			@retval		TINYINT 		; -- Valor de retorno de este procedimiento: 0:Exito ; 1:Error(Bloque Catch)
	
	SELECT 	@idproce 			 = 596,
			@retry				 = 1,
			@retrycont			 = 0,
			@retval				 = 0;
  	
  	-- Manejo de tiempo de espera y de reintentos por bloqueo de tablas/registros  
   	SELECT @maxretries = convert(INT,Valor) FROM dbo.Parametros WHERE Id = 60 ;
	SELECT @timeout    = convert(NVARCHAR(4000),Valor) FROM dbo.Parametros WHERE Id = 50 ;		
	SET @stmt = N'SET LOCK_TIMEOUT '+ltrim(rtrim(@timeout))
	EXEC sp_executesql @stmt,N''
	
	
	WHILE ( (@retry = 1) AND (@retrycont <= @maxretries) )
	BEGIN
		SET @retry = 0;
    
    	-- Bloque TRY
    	BEGIN TRY 
			DECLARE
				  @nameJob NVARCHAR(255)
				, @dataBase NVARCHAR(255)
				, @procedure NVARCHAR(255)
				, @descrip nvarchar(255)
				, @category_name NVARCHAR(255)
				, @id_Job Binary(16)
			IF @Id IS NULL
			BEGIN
				RAISERROR('No se especificó el job a crear.',16,1)
				RETURN -1
			END
			
			IF NOT EXISTS(SELECT 1 FROM dbo.GestionJob WHERE Id = @Id)
			BEGIN
				RAISERROR('El job especificado no esta definido en el sistema.',16,1)
				RETURN -1
			END
    	    		
    		--Obteniendo informacion de seguridad y auditoria--
			EXEC dbo.spzaProcesoUsuario_Consultar @id_usuario   = @id_usuario       ,
												  @id_proceso   = @idproce 		    , 
												  @bl_permit    = @bl_permit OUTPUT , 
												  @bl_auditsuc  = @bl_as 	 OUTPUT , 
												  @bl_auditfail = @bl_af 	 OUTPUT ;
			IF (@bl_permit = 0)
			BEGIN 
				SELECT 'No posee permisos suficientes para ejecutar esta acción.' AS 'Respuesta', 1 AS 'Estado'
				RETURN @retval;
			END 
			
			--Iniciando / salvando transaccion dependiendo si ya esta iniciada o no--
		  	BEGIN TRAN;
		  	
		
			SELECT @category_name = N'ZeusAgenciasMinoristaSQL'
				, @dataBase = db_name()
				 			
			--Instrucciones del procedimiento----------------------------------------
			--Se define el nombre del job a crear y el procedimiento a ejecutar
			SELECT 
				  @nameJob = 	GestionJob.ds_NombreJob + '_' + db_name()
				, @procedure = N'Exec ' + GestionJob.ds_Procedimiento
				, @descrip = GestionJob.ds_Descripcion
			FROM dbo.GestionJob
			WHERE GestionJob.Id = @Id
								
			IF NOT EXISTS(SELECT 1 FROM msdb.dbo.sysjobs WHERE name = @namejob)
			BEGIN
				IF NOT EXISTS(
					SELECT name 
					FROM msdb.dbo.syscategories 
					WHERE name=@category_name and category_class = 1)
				BEGIN
					EXEC msdb.dbo.sp_add_category @class=N'JOB', @type=N'Local', @name=@category_name
				END
				
				Exec msdb.dbo.sp_add_job 
						@job_name = @nameJob, 
						@enabled = 1, 
						@notify_level_eventlog=0, 
						@notify_level_email=2, 
						@notify_level_netsend=2, 
						@notify_level_page=2, 
						@delete_level=0, 
						@description = @descrip, 
						@category_name = @category_name, 
						@owner_login_name = N'sa',
						@job_id = @id_Job output
				
				Exec msdb.dbo.sp_add_jobstep 
						@job_id = @id_Job, 
						@step_name = N'Ejecutar', 
						@step_id = 1, 
						@cmdexec_success_code = 0, 
						@on_success_action = 3, 
						@on_fail_action=3, 
						@retry_attempts=0, 
						@retry_interval=0, 
						@os_run_priority=0, 
						@subsystem = N'TSQL', 
						@command = @procedure, 
						@database_name = @dataBase, 
						@flags=0
				
				Exec msdb.dbo.sp_add_jobstep 
						@job_id=@id_Job, 
						@step_name=N'Volver_A_Ejecutar',
						@step_id=2, 
						@cmdexec_success_code=0, 
						@on_success_action=4, 
						@on_success_step_id=1, 
						@on_fail_action=4, 
						@on_fail_step_id=1, 
						@retry_attempts=0, 
						@retry_interval=0, 
						@os_run_priority=0, 
						@subsystem=N'TSQL', 
						@database_name = @dataBase, 
						@flags=0

				exec msdb.dbo.sp_update_job 
						@job_id = @id_Job, 
						@start_step_id = 1

				exec msdb.dbo.sp_add_jobschedule 
						@job_id=@id_Job, 
						@name=N'Iniciar', 
						@enabled=1, 
						@freq_type=64, 
						@freq_interval=0, 
						@freq_subday_type=0, 
						@freq_subday_interval=0, 
						@freq_relative_interval=0, 
						@freq_recurrence_factor=0, 
						@active_start_date=20090101, 
						@active_end_date=99991231, 
						@active_start_time=0, 
						@active_end_time=235959

				exec msdb.dbo.sp_add_jobserver 
						@job_id = @id_Job, 
						@server_name = N'(Local)'
			END			
			--------------------------------------------------------------------------
			
			
			--Determinando si se debe auditar el proceso exitoso
			IF (@bl_as = 1) 
			BEGIN 										
				EXEC dbo.spzaAuditoria_Insertar  @id_proceso = @idproce    ,
												 @id_usuario = @id_usuario ,
												 @cd_status  = 1           , 												 
												 @admsg      = NULL        ,
							 					 @msgparams  = @msg;
			END 			 			
			
 		 	--Si la transaccion fue creada en el procedimiento entonces se actualiza--
			IF (@@TRANCOUNT > 0 AND XACT_STATE() <> 0)
			BEGIN 
				COMMIT TRAN;	
			END 
			
			--SELECT ltrim(rtrim(@msg)) AS 'Respuesta', 0 AS 'Estado' ;
			RETURN @retval;
	    END TRY 
    
    	-- Bloque CATCH (Manejo de excepciones)
		BEGIN CATCH 
 		
 			-- Tiempo de espera alcanzado --
		    IF ERROR_NUMBER() = 1222
		    BEGIN
      			SET @msg =  'No se pudo ejecutar el proceso. Tiempo de espera agotado.';
      			SET @retval = 1
   	        	
   	        	IF (@@TRANCOUNT > 0)
   	        	BEGIN 
					ROLLBACK;
	   	        END
	   	         
	   	        RAISERROR (@msg,16,125);
	   	       	--Se debe auditar proceso fallido
				IF (@bl_af = 1) EXEC dbo.spzaAuditoria_Insertar  @id_proceso = @idproce ,
													 			 @id_usuario = @id_usuario ,
													 			 @cd_status  = 0           , 
													 			 @admsg      = @msg	   ;				
	   	        RETURN @retval;
		    END
		    
		    -- Registro bloqueado / Conflicto de actualizacion
		    ELSE IF ERROR_NUMBER() IN (1205, 3960)
    		BEGIN
    			IF (@@TRANCOUNT > 0)
   	        	BEGIN 
					ROLLBACK;
	   	        END
	   	        
		       	SET @retry     = 1              ;
		       	SET @retrycont = @retrycont + 1 ; 

	    	 END
	    	 ELSE
		     BEGIN
		     	-- Error no manejado --

   	        	IF (@@TRANCOUNT > 0)
   	        	BEGIN 
					ROLLBACK;
	   	        END
													
				SET @retval = 1;
 				SET @msg =	'Ha ocurrido un error. Información para soporte tecnico:'			+ CHAR(13)+ CHAR(10) + CHAR(13)+ CHAR(10) +
						    'Numero: ' + isnull(CAST(ERROR_NUMBER()   AS VARCHAR(10)),'') 		+ CHAR(13)+ CHAR(10) + CHAR(13)+ CHAR(10) +
							'Mensaje: ' + isnull(ERROR_MESSAGE(),'') 					   		+ CHAR(13)+ CHAR(10) + CHAR(13)+ CHAR(10) +
						 	'Severidad: ' + isnull(CAST(ERROR_SEVERITY() AS VARCHAR(10)),'') 	+ CHAR(13)+ CHAR(10) + CHAR(13)+ CHAR(10) +
						 	'Estado: ' + isnull(CAST(ERROR_STATE()    AS VARCHAR(10)),'') 		+ CHAR(13)+ CHAR(10) + CHAR(13)+ CHAR(10) +
							'Procedimiento: ' + isnull(ERROR_PROCEDURE(),'')					+ CHAR(13)+ CHAR(10) + CHAR(13)+ CHAR(10) +
							'Linea: ' + isnull(CAST(ERROR_LINE() 	   AS VARCHAR(10)),''); 							
	
				RAISERROR (@msg,16,126);
				--Se debe auditar proceso fallido
				IF (@bl_af = 1) EXEC dbo.spzaAuditoria_Insertar	@id_proceso = @idproce   ,
										 			 			@id_usuario = @id_usuario ,
										 			 			@cd_status  = 0           , 
										 			 			@admsg      = @msg	  ;			
				RETURN @retval;

		     END
		END CATCH     
	END 
	
	IF (@retrycont>@maxretries) 
	BEGIN 
		SET @retval = 1
		SET @msg = 'No se pudo finalizar el proceso. Maximo numero de reintentos alcanzado.'
		--Se debe auditar proceso fallido
		IF (@bl_af = 1) EXEC dbo.spzaAuditoria_Insertar  @id_proceso = @idproce    ,
											 			 @id_usuario = @id_usuario ,
											 			 @cd_status  = 0           , 
											 			 @admsg      = @msg	   ;												 	   					   
  		RAISERROR (@msg,16,127);
  		RETURN @retval;
  	END   	
    
    RETURN @retval;
END
