IF OBJECT_ID('dbo.spza_ReservasGDSJOB_Itinerario', 'P') IS NOT NULL
    DROP PROCEDURE dbo.spza_ReservasGDSJOB_Itinerario;
GO
CREATE PROCEDURE [dbo].[spza_ReservasGDSJOB_Itinerario] 

	@id_reserva 	INT

 
AS
BEGIN


			SELECT 
				id, 
				id_reserva, 
				orden, 
				cd_origen, 
				cd_destino, 
				IsNull(cd_clase,'') As cd_clase, 
				ISNULL(CONVERT(VARCHAR(10),fecha_salida,111),'') AS fecha_salida,
				IsNull(hora_salida,'') As hora_salida, 
				IsNull(hora_llegada,'') As hora_llegada, 
				IsNull(terminal,'') As terminal, 
				IsNull(cd_aero_siglas,'') As cd_aero_siglas,
				IsNull(cd_farebasis,'') As cd_farebasis,
				IsNull(ds_NumVuelo,'') As ds_NumVuelo, /*rgelis 2014/01/31 req.17473*/
				IsNull(ds_TipoVuelo,'') As ds_TipoVuelo, /*rgelis 2014/01/31 req.17473*/
				IsNull(am_valor,0) As am_valor,
				IsNull(0,0) As bl_NoUtilizado,
				IsNull(am_co2,0) As am_co2
			FROM dbo.ReservaGDS_Itinerarios
			where id_reserva = @id_reserva
			ORDER BY Orden

END