IF OBJECT_ID('dbo.spza_ReservasGDSJOB_CargosImpuestos', 'P') IS NOT NULL
    DROP PROCEDURE dbo.spza_ReservasGDSJOB_CargosImpuestos;
GO
CREATE PROCEDURE [dbo].[spza_ReservasGDSJOB_CargosImpuestos] 

	@id_reservas 	VARCHAR(8000)

 
AS
BEGIN
			SET NOCOUNT ON;
			DECLARE @Tabla TABLE(id_Reserva INT,GDS VARCHAR(MAX),Iden_GDS INT)
			INSERT INTO @Tabla(id_Reserva,GDS,Iden_GDS) 
			SELECT r.id AS id_Reserva, r.reserva AS  GDS , r.iden_gds
			FROM dbo.ReservasGDS r
			INNER JOIN dbo.fnSplitMejorado(@id_reservas,',',0,1) AS s ON CONVERT(INT,s.Codigo) = r.id

			SELECT 
				r.id,
				r.id_reserva,
				ISNULL(r.id_reservaGDS_detalles,0) AS id_reservaGDS_detalles,
				ISNULL(r.id_reservaGDS_servicios,0) AS id_reservaGDS_servicios,
				r.in_orden,
				r.cd_codigo,
				r.ds_nombre,
				r.cd_tipo,
				ISNULL(r.cd_codigopadre,'') AS cd_codigopadre,
				ISNULL(r.cd_tipopadre,'') AS cd_tipopadre,
				ISNULL(r.am_porcentaje,0) AS am_porcentaje,
				am_contado = r.am_contado * CASE WHEN r.cd_tipo IN('2','4') THEN -1 ELSE 1 END,
				am_credito = r.am_credito * CASE WHEN r.cd_tipo IN('2','4') THEN -1 ELSE 1 END,
				am_valor= r.am_valor * CASE WHEN r.cd_tipo IN('2','4') THEN -1 ELSE 1 END
			FROM dbo.ReservaGDS_CargosImpuestos r
			INNER JOIN @Tabla t ON t.id_Reserva = r.id_reserva
			ORDER BY r.id_reservaGDS_detalles,r.id_reservaGDS_servicios,r.in_orden



END